@model List<OnlineShopping.Models.ProductCategory>


<h2>@Html.DisplayNameFor(model => model[0])</h2>


<div class="container">
    <ul>
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.Name, "ProductList", new { id = item.Id })</li>
        }
    </ul>
</div>


